<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name ="connString" connectionString="Server=.;DataBase=SMDB;Uid=sa;Pwd=123456a?;Pooling=true;Max pool size=10;Min pool size=5"/>
  </connectionStrings>
  <appSettings>
    <add key="p_version" value="1.0"/>
  </appSettings>
</configuration>